[Unit]
Description=IPB Election API
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=ipbelection
Group=ipbelection
WorkingDirectory=/opt/ipb-election/current/backend
EnvironmentFile=/opt/ipb-election/shared/backend.env
ExecStart=/usr/bin/node dist/main.js
Restart=always
RestartSec=5
TimeoutStopSec=20
KillSignal=SIGTERM

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
